.footer {
  padding: 5rem 1rem;
  position: relative;

  @include lg() {
    padding: 5rem 0;
  }

  &__title {
    color: #fff;
    font-weight: 400;
    &--center {
      text-align: center;
    }
  }

  &__sub-title {
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    word-wrap: break-word;
    &--center {
      text-align: center;
    }
  }
  &__sub-title__a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    &:hover{
      text-decoration: underline;
      color: rgba(#fff, 0.5);
    }
  }
}
